{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Андрей - начинающий python-разработчик</h1>
  <p>
    <h3>Всякие ссылочки</h3>
      <a href="https://github.com/KholodovAndrey">Github</a><br>
      <a href="">Будущее Резюме</a><br>
      <a href="https://t.me/AndrewKholodov">Телеграм</a><br>
      <a href="https://pythonworld.ru/osnovy/pep-8-rukovodstvo-po-napisaniyu-koda-na-python.html">Здесь будет еще какая нибудь полезная ссылка</a><br>
    <hr>
  </p>
  <p>
    <h3>Немного о себе</h3>
      Могу сказать вам определенно точно, что не зря я изучал Python (В основном синтаксис конечно)
      и всякую мелочевку. Это сейчас мне сильно помогает. Не скажу, что учиться легко, даже наоборот,
      как-то очень тяжеловато. Но интересно. Развитие знаний навыков и умений, путем непосредственной работы
      над проектом - залог глубокого познания этого фреймворка.
    <hr>
  </p>
  <p>
    <h3>Слова благодарности</h3>
      Особое спасибо моей жене, она мне очень помогает и подбатривает на протяжении всего пути.
    <hr>
  </p>
  <p>
    <h3>Ну и немного моего рабочего пространства</h3>
    <img src={% static "img/workspace.png" %} width="900" height="600"> 
  </p>
{% endblock %}